[alias]
  aa = add --all
  b = branch
  branch-name = rev-parse --abbrev-ref HEAD
  browse = !hub browse
  can = commit --amend --no-edit
  ci-status = !hub ci-status
  co = checkout
  compare = !hub compare
  get = "!git pull --rebase origin $(git branch-name)"
  give = "!git push origin $(git branch-name)"
  lo = log --decorate --all -20 --pretty=format:'%C(auto)%h <%an>%d %s (%cr)%Creset' --abbrev-commit --date=short --branches
  pf = push --force-with-lease
  recent = branch --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)"
  ri = rebase -i
  st = status
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
	attributesfile = /Users/kevin/.gitattributes
[merge]
  ff = only
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
[pager]
  branch = cat
[user]
  name = Kevin Murphy
  useConfigOnly = true
[credential]
  helper = osxkeychain
[init]
  defaultBranch = main
[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
